@page "/Dashboard"

<PageTitle>Dashboard</PageTitle>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; gap: 10px;">
	@if (_user?.Session == true)
	{
		<SfButton OnClick="OnSessionClick" Content="Session" CssClass="e-success uniform-button" />
	}

	@if (_user?.Trainer == true)
	{
		<SfButton OnClick="OnTrainerClick" Content="Trainer" CssClass="e-info uniform-button" />
	}

	<SfButton OnClick="OnSubscriptionClick" Content="Subscription" CssClass="e-primary uniform-button" />

	@if (_user?.Admin == true)
	{
		<SfButton OnClick="OnAdminClick" Content="Admin" CssClass="e-warning uniform-button" />
	}
</div>

<style>
	.uniform-button {
		width: 150px;
	}
</style>