@page "/Dashboard"

<PageTitle>Dashboard</PageTitle>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; gap: 10px;">
	@if (_user?.Session == true)
	{
		<SfButton IconCss="e-icons e-calculate-sheet" OnClick="OnSessionClick" Content="Session" CssClass="e-success uniform-button" />
		<SfButton IconCss="e-icons e-lock" OnClick="OnSubscriptionClick" Content="Subscription" CssClass="e-primary uniform-button" />
		<SfButton IconCss="e-icons e-people" OnClick="OnPeopleClick" Content="Person" CssClass="e-info uniform-button" />
	}

	@if (_user?.Trainer == true)
	{
		<SfButton IconCss="e-icons e-activities" OnClick="OnTrainerClick" Content="Trainer" CssClass="e-warning uniform-button" />
	}

	<SfButton IconCss="e-icons e-arrow-left" OnClick="OnLogoutClick" Content="Log Out" CssClass="e-danger uniform-button" />
</div>

<style>
	.uniform-button {
		width: 150px;
	}
</style>