@page "/"

<PageTitle>Login</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
	<input type="password" placeholder="Password" @bind-value="_password" @oninput="CheckPassword" />
</div>