@page "/"

<PageTitle>Login</PageTitle>

<div class="center-screen">
	<div class="fixed-width">
		<SfOtpInput Type="OtpInputType.Number" OnInput="CheckPassword" Value="@_password" Placeholder="CODE" />
	</div>
</div>

<style>
	.center-screen {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.fixed-width {
		width: 300px;
	}
</style>